// 图片居中
.page>.content>img,
.page>.content>p>img {
  display:block;
  margin: 0 auto;
}
// 引用字体正常大小
blockquote {
    font-size: 1rem;
    color: #999;
    border-left: 0.25rem solid #dfe2e5;
    margin-left: 0;
    padding-left: 1rem;
}
// 列表中的段落无margin
li>p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
}
